<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <title>{% block title %}{% endblock title %}</title>
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    {% block page_style %}{% endblock page_style %}
    {% endblock head %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
