{% extends 'base.html' %}

{% block title %}文件列表{{ ' - %s' % folder.name if folder else '' }}{% endblock title %}

{% block content %}
<section class="container">
    <h1>文件列表{% if folder %}&nbsp;-&nbsp;{{ folder.name }}{% endif %}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>文件ID</th>
                <th>文件名</th>
                <th>文件类型</th>
                <th>文件所有者</th>
                <th>是否私有</th>
                <th>上传时间</th>
                <th>修改时间</th>
                {% if not folder %}
                <th>所属文件夹</th>
                {% endif %}
                <th>下载次数</th>
                <th>相关操作</th>
            </tr>
        </thead>
        <tbody>
            {% if files and files|length > 0 %}
                {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.type }}</td>
                <td>{{ user.name if not users else users[file.userid].name }}</td>
                <td>{{ '是' if file.is_private else '否' }}</td>
                <td>{{ file.upload_datetime|datetimeformat }}</td>
                <td>{{ file.modify_datetime|datetimeformat }}</td>
                {% if not folder %}
                <td>
                    {% if folders and file.folderid %}
                        {% with folder = folders[file.folderid] %}
                    <a href="{{ url_for('list_folder_files', folder_id=folder.id) }}">{{ folder.name }}</a>
                        {% endwith %}
                    {% else %}
                    暂无归属文件夹{% if user.id != 1 %}，<a href="{{ url_for('add_file_to_folder', file_id=file.id) }}">添加到文件夹？</a>{% endif %}
                    {% endif %}
                </td>
                {% endif %}
                <td>{{ file.count }}</d>
                <td>
                    <a href="{{ url_for('edit_file', file_id=file.id) }}">编辑</a>
                    <a href="{{ url_for('download_file', file_id=file.id) }}">下载</a>
                </td>
            </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="10">
                    暂无任何文件
                    ，<a href="{{ url_for('upload_file', to_folder=folder.id if folder and user.id != 1 else None) }}">上传一个？</a>
                </td>
            </tr>
            {% endif %}
        </tbody>
        {% if files and files|length > 0 and user.id != 1 %}
        <tfoot>
            <tr>
                <td colspan="10"><a href="{{ url_for('upload_file', to_folder=folder.id if folder else None) }}">上传新文件</a></td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</section>
{% endblock content %}
