{% extends 'base.html' %}

{% block title %}
    {% if not search_view %}
文件列表{{ ' - %s' % folder.name if folder else '' }}
    {% else %}
搜索“{{ query }}”相关文件列表
    {% endif %}
{% endblock title %}

{% block content %}
<section class="container">
    {% if not search_view %}
    <h1 class="with-search-box">文件列表{% if folder %}&nbsp;-&nbsp;{{ folder.name }}{% endif %}</h1>
    <form class="form-search with-title" method="GET" action="{{ url_for('search_files') }}">
        <input type="text" class="input-medium search-query" name="q">
        <input type="hidden" name="is_own_file" value="{{ '1' if not share_view else '0' }}">
        <button type="submit" class="btn">搜索</button>
    </form>
    {% else %}
    <h1>搜索“{{ query }}”相关文件列表</h1>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>文件ID</th>
                <th>文件名</th>
                <th>文件类型</th>
                <th>文件所有者</th>
                {% if not group_view %}
                <th>是否私有</th>
                {% endif %}
                <th>上传时间</th>
                <th>修改时间</th>
                {% if not folder and not group_view and folders %}
                <th>所属文件夹</th>
                {% endif %}
                <th>下载次数</th>
                <th>相关操作</th>
            </tr>
        </thead>
        <tbody>
            {% if files and files|length > 0 %}
                {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.type }}</td>
                <td>{{ user.name if not users else users[file.userid].name }}</td>
                {% if not group_view %}
                <td>{{ '是' if file.is_private else '否' }}</td>
                {% endif %}
                <td>{{ file.upload_datetime|datetimeformat }}</td>
                <td>{{ file.modify_datetime|datetimeformat }}</td>
                {% if not folder and not group_view and folders %}
                <td>
                    {% if folders and file.folderid %}
                        {% with folder = folders[file.folderid] %}
                    <a href="{{ url_for('list_folder_files', folder_id=folder.id) }}">{{ folder.name }}</a>
                        {% endwith %}
                    {% else %}
                    暂无归属文件夹{% if not user or user.id != 1 %}，<a href="{{ url_for('add_file_to_folder', file_id=file.id) }}">添加到文件夹？</a>{% endif %}
                    {% endif %}
                </td>
                {% endif %}
                <td>{{ file.count }}</d>
                <td>
                    {% if not group_view and user and file.userid == user.id %}
                    <a href="{{ url_for('edit_file', file_id=file.id) }}">编辑</a>
                    {% endif %}
                    <a href="{{ url_for('download_file', file_id=file.id) }}">下载</a>
                </td>
            </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="10">
                    {% if not search_view %}
                        暂无任何文件
                        {% if not group_view %}
                        ，<a href="{{ url_for('upload_file', to_folder=folder.id if folder and user.id != 1 else None) }}">上传一个？</a>
                        {% endif %}
                    {% else %}
                    没有找到“{{ query }}”相关文件
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
        {% if files and files|length > 0 and (not user or user.id != 1) and not group_view %}
        <tfoot>
            <tr>
                <td colspan="10"><a href="{{ url_for('upload_file', to_folder=folder.id if folder else None, public_default=1 if share_view else None) }}">上传新文件</a></td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</section>
{% endblock content %}
